*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding:1rem 3%;
}


.logo{
    font-weight: 690;
    color:rgb(0, 0, 0);
    font-size: 1.9rem;
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin-right: auto;
}

.links{
    list-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 300px;

}

.links li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgb(114, 114, 114);
    transition: 0.2s;
}

.btn{
    background: rgb(168, 250, 44);
    border:1px solid rgb(168, 250, 44);
    font-weight: 90;
    border-radius: 30px;
    
    padding: 13px;
    
    margin-right: 80px;
}

.links li a:hover{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,bold;
    font-size: small;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}

.btn:hover{
    background-color: aliceblue;
    color: rgb(32, 52, 2);
    font-weight: 90;
    border-radius: 30px;
    border: none;
    padding: 13px;
    
    border: 0.5px solid rgb(32, 52, 2);
}

.img-cont{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
    height: 270px;
    width: 270px;
    position:absolute;
    top:13%;
    left: 35%;
    translate: -50%,-50%;
}

.barn{
    font-size: 45px;
    font-weight: 2000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 300px;
    letter-spacing: -1.2px;
    margin-right: 70px;
}

.barn2{
    font-size: 45px;
    font-weight: 2000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    letter-spacing: -1.2px;
    margin-right: 70px;

}

.text{
    font-size: 10px;
    font-weight: 350;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 17px;
    letter-spacing: -1.2px;
    margin-right: 70px;

}

.text2{
    font-size: 10.5px;
    font-weight: 370;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    letter-spacing: -1.2px;
    margin-right: 70px;
}

.vd{
    background-color: rgb(207, 245, 150);
    border: 1px solid rgb(145, 213, 42);
    border-radius: 20px;
    padding:10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    
    margin-left: 570px;

}

.vd:hover{background-color: rgb(145, 213, 42);}


.greybg {
  background: rgb(229, 228, 228);
  margin-top: 80px;
  position: relative;
  width: 100%;
  height: 250vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.house img {
  height: 460px;
  width: 460px;
  border-radius: 17px;
  margin-left: 300px;
  margin-top: 60px;
  right: 50px;
    top: 104px;
    position: absolute;
}

.abt{
    position: absolute;
    padding:10.5px;
    background: white;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 800px;
    right: 1100px;
    top: 104px;
    transition: 0.2s;
    
}

.abt:hover{
          background: black;
          border: 1px solid rgb(3, 0, 0);
          color:aliceblue;
          transition: 0.2s;

}

.greybg .ugh{
     position: absolute;
  color: black;
  font-size: 2.2rem;
  margin-bottom: 300px;
  margin-right:760px;
  font-weight: 900;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  right: 90px;
    top: 154px;
    
  letter-spacing: -2px;

}

.text3{
    
  color: black;
  font-weight: lighter;
  margin-bottom: 164px;
  margin-right:620px;
  font-weight: 200;
  right: 90px;
    top: 250px;
    position: absolute;
  
  
  
}

.box2{
    display: grid;
    gap: 20px;
    
    position: absolute;
  
  margin-top: -600px;
  margin-right:600px;
  font-weight: 200;
   
    
}

.item{
    background: white;
    height: 115px;
    width: 470px;
    border-radius: 20px;
}

.h-3{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 17.5px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p-1{
    margin-left: 20px;
    margin-top: 5px;
    font-size:12px ;
    font-weight: lighter;
    
}

.h-3x{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 17.5px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p-2{
    margin-left: 20px;
    margin-top: 5px;
    font-size:12px ;
    font-weight: lighter;
    
}

.big-box{
    background: white;
    width: 1090px;
    height: 200px;
    display: flex;
    
    border-radius: 20px;
    right: 90px;
    top: 700px;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 180px;
    
  
}


.det{
    color: rgb(65, 64, 64);
}

.num{
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}


.work{
        
    display: flex;
    background: white;
    padding: 13px;
    border-radius: 15px;
    right: 600px;
    top: 990px;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: none;
    transition: 0.2s;
}

.work:hover{
    background: black;
    color:white;
    transition: 0.2;
}





.wp{
    left: 480px;
    top: 1050px;
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 900;
    display: flex;
}

.bh{
    position: absolute;
    display: flex;
    left: 260px;
    top:1095px ;
}



.container{
          display: flex;
          margin-top: 1000px;
          gap: 20px;
          position: absolute;
          
}

.pouch1{
        background: rgb(223, 162, 170);
}

.pouch2{
    background: rgb(235, 235, 97);
}

.pouch3{
    background: rgb(95, 146, 86);
}

.pouch4{
    background: rgb(90, 164, 229);
}

.pouch1, .pouch2, .pouch3, .pouch4 {
  width: 230px;
  height: 200px;
  border-radius: 15px;
}


.concept{
    justify-content: center;
    text-align: center;
    align-items: center;
    
    margin-top: 70px;
    margin-right: 120px;
    font-size: larger;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.con{
    margin-left: 10px;
}

.explore{
    margin-top: 100px;
    margin-left: 550px;
    border: 1px solid rgb(213, 245, 166);
    padding: 15px;
    border-radius: 20px;
    background: rgb(213, 245, 166);
    transition: 0.2s;
}

.explore:hover{
    border: 1px solid rgb(143, 194, 62);
    background: rgb(143, 194, 62);
    transition: 0.2s;
}

.latest-portfolio{
    margin-top: 10px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    margin-left: 495px;
}

.barn3{
    margin-left: 385px;
    margin-top: 5px;
}

.barn4{
        margin-left: 490px;
       
}

.bento{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1.5em;
    grid-template-areas: "box-1 box-1 box-1 box-2"
                          "box-3 box-4 box-4 box-5";
                    justify-content: center;
                    margin-top: 20px;
}

.item1{
    border: 1px solid rgb(191, 190, 190);
    border-radius: 20px;
    position: relative;
}

#item1 img{
    height: 170px;
    width: 270px;
    border-radius: 20px;
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
}

#item1 .com{
    font-size: 25px;
    margin-left: 350px;
    position: absolute;
     margin-top: 28px;
    font-weight: bolder;
}

.barn5{
    
    margin-left: 350px;
    position: absolute;
     
    margin-top: 60px;
}


#item2 img{
    height: 170px;
    width: 170px;
    border-radius: 20px;
    margin-top: 16px;
    margin-left: 17px;
}

#item3 img{
    height: 170px;
    width: 170px;
    border-radius: 20px;
    margin-top: 16px;
    margin-left: 17px;
}

#item4 img{
    height: 175px;
    width: 375px;
    
    border-radius: 20px;
    position: absolute;
    margin-left: 25px;
    margin-top: 15px;
}

#item5 img{
    height: 170px;
    width: 170px;
    border-radius: 20px;
    margin-top: 16px;
    margin-left: 17px;
}

